<div class="row update">
  <div class="col-md-6 mx-auto" >

    <div class="card">
      <div class="card-header"><h5>Rename project: <%= @project.title.upcase %> </h5>
        <a href="/projects/<%= @project.id %>" class="btn-secondary btn-sm float-right"><span aria-hidden="true"><strong>&times;</strong></span></a>
      </div>
      <div class="card-body">

        <form id='rename-volunteer' action="/projects/<%= @project.id %>/rename" method="post">
          <input type="hidden" name="_method" value="patch">
          <div class="form-group">
            <input type="text" class="form-control" id="title" name="title" placeholder="New name">
          </div>

        <button type="submit" class="btn btn-primary">Update Project</button>
        </form>
      </div>
    </div>

  </div>

</div>
