<div class="row update">
  <div class="col-md-6 mx-auto" >

    <div class="card">

      <div class="card-header"><h5>Rename volunteer: <%= @volunteer.name.upcase %></h5>
        <a href="/projects/<%= @volunteer.project_id %>" class="btn-secondary btn-sm float-right"><span aria-hidden="true">&times;</span></a>
      </div>

      <div class="card-body">
        <form id='rename-volunteer' action="/volunteer/<%= @volunteer.id %>/rename" method="post">
          <input type="hidden" name="_method" value="patch">
          <div class="form-group">
            <input type="text" class="form-control" id="name" name="name" placeholder="New name">
          </div>

          <button type="submit" class="btn btn-primary">Update Volunteer</button>
        </form>
      </div>

    </div>

  </div>
</div>
