

<div class="row" style="margin-top: 50px;">
  <div class="col-md-5 mx-auto" >

    <div class="card">
      <h5 class="card-header">Rename volunteer: <%= @volunteer.name.upcase %></h5>
      <div class="card-body">

        <form id='rename-volunteer' action="/volunteer/<%= @volunteer.id %>/rename" method="post">
          <input type="hidden" name="_method" value="patch">
          <div class="form-group">
            <input type="text" class="form-control" id="name" name="name" placeholder="New name">
          </div>

        <button type="submit" class="btn btn-primary">Update Volunteer</button>
        </form>
      </div>
    </div>

  </div>

</div>
