input[type='checkbox'] {
  float: right;
  margin-top: .3rem;
  margin-right: .9rem;
}

th {
  border-top: 0px !important;
}

tr > th:nth-child(even) {
  text-align: center;
}

tr > td:nth-child(even) {
  text-align: center;
}

.nav-styling {
  margin: 0 -15px 25px;
}

.add-new {
  margin-bottom: 3rem;
}

.all_projects, .all_volunteers {
  margin-top: 25px;
}

.proj-title h3 {
  display: inline-block;
  margin: 0 10px 30px auto;
}

.proj-title a {
  color: #878787;
}

.proj-title a:hover {
  color: #878787;
}

.delete-project {
  position: absolute;
  bottom: 0;
}

.updater h5 {
  display: inline-block;

}

.updater a {
  color: #000000;
}

.updater a:hover {
  color: #000000;
  text-decoration: none;
}

.button-style {
  display: inline;
  float: right!important;
}
