body {
  padding-bottom: 50px;
}

input[type='checkbox'] {
  float: right;
  margin-top: .3rem;
  margin-right: .9rem;
}

th {
  border-top: 0px !important;
}

tr > th:nth-child(even) {
  text-align: center;
}

tr > td:nth-child(even) {
  text-align: center;
}

.nav-styling {
  margin: 0 -15px 25px;
}

.project-card {
  margin-bottom: 3rem;
}

.all_projects, .all_volunteers {
  margin-top: 25px;
}

.project-title h3 {
  display: inline-block;
  margin: 0 10px 30px auto;
}

.project-title a {
  color: #878787;
}

.project-title a:hover {
  color: #878787;
}

.update {
  margin-top: 50px;
}

.update h5 {
  display: inline-block;
}

.update span {
  color: #ffffff;
  font-size: 18px;
  line-height: 18px;
}

.update a:hover {
  text-decoration: none;
}

.delete-project {
  margin-left: -15px;
  /* padding-top: 20px; */
  padding: 20px 0 0 15px;
  width: 100%;
  background: #f8f9fa!important;
  position: absolute;
  bottom: 0;
}

.button-style {
  display: inline;
  float: right!important;
}
